@tailwind base;
@tailwind components;
@tailwind utilities;

.pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
}

.pt-safe {
    padding-top: env(safe-area-inset-top);
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
    /* safe area padding handled by components now */
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior-y: none;
}

button,
a {
    user-select: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.font-serif-logo {
    font-family: 'Playfair Display', serif;
}